MWE_ENV=development
MWE_DATA_ROOT=
MWE_LOG_LEVEL=INFO
MWE_LOG_JSON=false
MWE_LOG_COLOR=true
MWE_LOG_DIR=
MWE_LOG_RETENTION=20
MWE_STRICT_CHECKS=false
MWE_GAIA_BACKGROUND_SOURCE_COUNT=5000000
MWE_GAIA_BACKGROUND_BATCH_SIZE=100000
MWE_GAIA_DENSITY_EXTENT_KPC=20.0
